<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bookshelf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Bookshelf</h1>

        <div class="button-container">
            <a class="button" href="{{ url_for('display_books') }}">Display Books</a>
            <a class="button" href="{{ url_for('add_book') }}">Add a Book</a>
        </div>
    </div>
</body>
</html>
